<!DOCTYPE html>
<html>
  <head>
    <link href="../css/about.css" rel="stylesheet">
    <meta charset="utf-8">
    <title>New Centennial Mall</title>
  </head>
  <body>
    <div class="row">
      <div class="col-xs-12">
        <div class="navbar">
          <ul>
            <li class="navbar-item"><a href="#">About</a></li>
            <li class="navbar-item"><a href="#">Map</a></li>
            <li class="navbar-item"><a href="#">Experience</a></li>
            <li class="navbar-item"><a href="#">Donate</a></li>
          </ul>
        </div>
      </div>
    </div>

<div class="about-main">
    <div class="row">
      <div class="col-xs-4">
        <div class="about-sidebar">
          <p>This is the sidebar. I am going to fill it with a bunch of information so that
          we can try to figure out the best way to format it all. Gee this design stuff isn't
          as straightforward as you might think.</p>
          <ul>
            <li id="michael">Contact 1</li>
            <li id="ky">Contact 2</li>
          </ul>
        </div>
      <div class="col-xs-8">
        <div class="about-section">
          <p> This is the main section for the about page. I am going to fill it with a bunch of information so that
          we can try to figure out the best way to format it all. Gee this design stuff isn't
          as straightforward as you might think.</p>
        </div>
      </div>
    </div>
  </div>
</div>w

  </body>
</html>
